---
import BaseHead from "../../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import InfoCard from "../../components/InfoCard.astro";
import ListItem from "../../components/ListItem.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
    <style>
      .close {
        font-size: var(--step-4);
        padding-left: 2ch;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <a class="close" href="/" aria-label="return home">тип</a>
    <aside>
      <InfoCard />
    </aside>
    <main>
      <h1>Blog posts</h1>
      <ul>
        {
          posts.map((post) => (
            <ListItem
              href={`/blog/${post.slug}`}
              projectImg={post.data.cover.image}
              title={post.data.title}
              imgAlt={post.data.cover.alt}
              text={post.data.description}
            />
          ))
        }
      </ul>
    </main>
  </body>
</html>
