---
import { Image } from "astro:assets";
import placeholderImg from "../assets/placeholder-img.png";
const { href, title, text, projectImg, imgAlt } = Astro.props;
---

<style>
  li {
    list-style: none;
    margin-bottom: 1em;

    overflow: hidden;

    border: 2px dashed black;
    border-radius: 8px;
  }

  a {
    text-decoration: none;

    display: flex;
    gap: 1.1ch;

    color: black;
  }

  .img {
    height: 100%;
    width: 30%;
    min-width: 110px;
  }

  h1 {
    font-size: var(--step-1);
    line-height: 1.5;
    margin-bottom: 0;
  }

  p {
    font-size: var(--step--0);
    margin-bottom: 0;
    max-width: 45ch;
  }
</style>
<li class="smol-card-component">
  <a href={href}>
    {
      projectImg ? (
        <Image class="img" src={projectImg} alt={imgAlt} />
      ) : (
        <Image class="img" src={placeholderImg} alt={imgAlt} />
      )
    }<div class="text">
      <h1>{title}</h1>
      <p>{text}</p>
    </div>
  </a>
</li>
